/*TEO WEE CHERNG KYSTON S10270092H*/
.container {
  background-color: #DED3C2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Lora', serif;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin-top: 50px;
}

.title {
  font-size: 2.5em;
  color: #6B4E3D;
  margin-bottom: 20px;
}

.imageContainer {
  margin-bottom: 20px;
}

.image {
  border-radius: 10px;
}

.description {
  font-size: 1.2em;
  color: #4F4F4F;
  margin-bottom: 40px;
}

.backButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  font-size: 18px;
  transition: background-color 0.3s ease;
  display: block;
  width: fit-content;
}

.backButton:hover {
  background-color: #005bb5;
}